/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 40px 40px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 60px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #013220;
}

.card:nth-child(2) {
  background-color: #fca311;
}

.card:nth-child(3) {
  background-color: #14213d;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}
/* End Main  */
